---
// Footer component
---

<footer class="footer is-inverse">
  <div class="container">
    <div class="grid grid_2-col mobile-l-1-col gap-medium">
      <div class="flex_vertical is_space-between gap-medium">
        <ul role="list" class="margin-bottom_small list-unstyled">
          <li class="list-item">
            <a href="mailto:info@modernmoneylabeu.org" class="footer_link on-inverse inline-block">
              <div>info@modernmoneylabeu.org</div>
            </a>
          </li>
        </ul>
        <div class="ix-link-wrapper">
          <a href="/" class="logo-link inline-block">
            <div class="nav_logo-icon"><img src="/images/MML-logo.png" loading="lazy" alt="MML EU Logo"></div>
            <div data-brand-name="true" class="paragraph_xlarge margin-bottom_none text_all-caps">Modern Money Lab Europe (MML EU)</div>
          </a>
        </div>
      </div>
      <div class="flex_vertical">
        <h2 class="heading_tertiary">Connect. Learn. Stay updated.</h2>
        <p class="margin-bottom_xsmall">Get news, events, and resources direct.</p>
        <div class="margin-bottom_none width_100percent margin_top-auto form-wrapper">
          <form method="POST" action="https://tally.so/r/Xx4q1L" name="wf-form-Subscribe" id="wf-form-Subscribe" class="flex_horizontal gap-xsmall flex_vertical_mobile-l">
            <div class="form_item margin-bottom_none flex-child_expand">
              <label for="subscribe-email-2" class="input_label screen-reader">Email</label>
              <input class="input_field on-inverse form-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="Email" type="email" id="subscribe-email" required>
            </div>
            <div class="ix-link-wrapper">
              <input type="submit" data-wait="Please wait..." role="button" class="button on-inverse btn" value="Subscribe">
            </div>
          </form>
          <p class="paragraph_small margin-top_xsmall margin-bottom_none">See our <a href="/privacy" class="text-link is-secondary text-span_padding on-inverse">privacy</a> for more information.</p>
          <div class="footer_form_success-message form-success" style="display: none;">
            <div>Subscription successful. Welcome aboard.</div>
          </div>
          <div class="form-error" style="display: none;">
            <div>Error. Please try again.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="divider margin-top_small margin-bottom_small"></div>
    <div class="footer_bottom">
      <div class="text-color_secondary">&copy; 2026 Modern Money Lab Europe. All rights reserved.</div>
    </div>
  </div>
</footer>
